*,
*::before,
*::after {
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat";
    src: url('../media/fonts/Montserrat-Medium.ttf')
}
body{
    background: #2E2A51;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    margin-bottom: 222px;
    padding: 50px 80px 0px 80px ; 
}

.container{
    display: grid;  
    align-items: center;
    justify-content: center;
    gap: 56px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.autho{
    color: white;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    

}
.container2{
    display: grid;
    gap: 30px;
}
.mail{
    border-radius: 4px;
    border-color:#ABABAB;
    min-height: 60px;
    min-width: 548px;
    font-size: 22px;
    padding-left: 20px;
    background: #2E2A51;
    color: white;
    border: 1px solid var(--neutral-grey,rgba(77, 77, 77, 1));
}
.password{
    border-radius: 4px;
    min-height: 60px;
    min-width: 548px;
    background: #2E2A51;
    border-color:#ABABAB;
    padding-left: 20px;
    color: white;
    font-size: 22px;
    border: 1px solid var(--neutral-grey,rgba(77, 77, 77, 1));


}
.container3{
    display: flex;
    align-items: center;
    color: grey;
    font-weight: 400;
    font-size: 18px;
    justify-content: space-between;
    
}
.container4{
    display: flex;
    align-items: center;

}
.checkbox{
    min-width:24px ;
    min-height: 24px;

}

.remember{
    margin-left: 10px;
    color: #ABABAB;
}
.forgot{
    color: white;
}

.Entry{ 
    cursor: pointer;
    background: rgba(63, 62, 94, 1);
    padding: 20px;
    border-radius: 7px;
    font-size: 24px;
    color:rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    border: none;
    font-weight: 700;
}

button:hover{
    background: #52507a;
}
button:active{
    opacity: 0.3;
}

.or{
    display: flex;
    justify-content: center;
    color: #ABABAB;
  
}
.socialButtons{
    display: flex;
    justify-content: space-between;
}
button{
    min-width: 175px;
    padding: 10px;
    border-radius: 7px;
    background: #2E2A51;
    cursor: pointer;
    border: 1px solid var(--neutral-grey,rgba(77, 77, 77, 1));
}
.bottom{
    display: flex;
    justify-content: space-between;
    color: #ABABAB;
}

.logIn{
    color: white;
}
.support{
    color: white;
    text-align: end;
}
@media (max-width: 800px) {
    body{
        margin: 0;
        padding: 30px;
    }
    .autho{
        color: white;
        font-size: 30px;
        font-weight: 700;
        display: flex;
        justify-content: left;
    }
    .container{
        display: grid;  
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 0;
    }
    .container2{
        display: grid;
        gap: 30px;
        max-width: 320px;
        padding-left: 0px;
    }
    .mail{
        min-height: 60px;
        min-width: 300px;
    }
    .password{
        min-height: 60px;
        min-width: 300px;
    }
    .container3{
        display: flex;
        align-items: center;
        color: grey;
        font-weight: 400;
        font-size: 18px;
        justify-content: space-between;
        gap: 50px;
        max-width: 320px;
    }
    .container4{
        display: flex;
        align-items: center;
        max-width: 175px;
    }
    .remember{
        margin-left: 10px;
        color: #ABABAB;
        width: 150px;
        font-size: 15px;
    }
    .forgot{
        color: white;
        font-size: 15px;
        max-width: 200px;
        max-height: 30px;
    }
    .Entry{ 
        cursor: pointer;
        background: rgba(63, 62, 94, 1);
        padding: 20px;
        font-size: 20px;
        min-height: 60px;
        min-width: 300px;
    }
    button{
        min-width: 100px;
        padding: 10px;
    }
    .socialButtons{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .bottom{
        display: grid;
        place-items: center;
        padding-top: 50px ;
    }
    .support{
        display: grid;
        place-items: center;
        padding-top: 50px ;
    }
}