*,
*::before,
*::after {
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat";
    src: url('../media/fonts/Montserrat-Medium.ttf')
}
body{
    background: #2E2A51;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    margin-bottom: 222px;
    padding: 50px 80px 0px 80px ; 
}

.container{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 56px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.Auto{
    color: white;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;

}
.container{
    display: grid;
    gap: 30px; 
    width: 100%;
    height: 100%;
}
.login{
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-color:#ABABAB;
    min-height: 60px;
    max-width: 100%;
    font-size: 22px;
    padding-left: 20px;
    background: #2E2A51;
    color: white;
    border: 1px solid var(--neutral-grey,rgba(77, 77, 77, 1));
}

.mail{
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-color:#ABABAB;
    min-height: 60px;
    max-width: 100%;
    font-size: 22px;
    padding-left: 20px;
    background: #2E2A51;
    color: white;
    border: 1px solid var(--neutral-grey,rgba(77, 77, 77, 1));
}
.password{
    border-radius: 4px;
    min-height: 60px;
    max-width: 100%;
    background: #2E2A51;
    border-color:#ABABAB;
    padding-left: 20px;
    color: white;
    font-size: 22px;
    border: 1px solid var(--neutral-grey,rgba(77, 77, 77, 1));

}
.confirmPass{
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-color:#ABABAB;
    min-height: 60px;
    max-width: 100%;
    font-size: 22px;
    padding-left: 20px;
    background: #2E2A51;
    color: white;
    border: 1px solid var(--neutral-grey,rgba(77, 77, 77, 1));
}

.register{ 
    cursor: pointer;
    background: rgba(63, 62, 94, 1);
    padding: 20px;
    border-radius: 7px;
    font-size: 24px;
    color:rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    border: none;
    font-weight: 700;
}

button:hover{
    background: #52507a;
}
button:active{
    opacity: 0.3;
}

.or{
    display: flex;
    justify-content: center;
    color: #ABABAB;
    font-weight: 400;
}
.socialButtons{
    display: flex;
    justify-content: space-between;
}
button{
    min-width: 175px;
    padding: 10px;
    border-radius: 7px;
    background: #2E2A51;
    cursor: pointer;
    border: 1px solid var(--neutral-grey,rgba(77, 77, 77, 1));
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    color: #ABABAB;
}
.logIn{
    color: white;
}
.support{
    color: white;
}
@media (max-width: 800px) {
    body{
        margin: 0;
        padding: 30px;
    }
    .container{
        display: grid;  
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 0;
    }
    .container2{
        display: grid;
        gap: 30px;
    }
    .login{
        max-width: 548px;
    }
    .mail{
        max-width: 548px;
    }
    .password{
        max-width: 548px;
    }
    .confirmPass{
        max-width: 548px;
    }
    .socialButtons{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    button{
        min-width: 75px;
        padding: 10px;
    }
    .bottom{
        margin-top: 30px;
    }
}