{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор НИР</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'main_calc/media/icons/icons8-cheque-32.png' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
    </style>
</head>
{% block authorization %}
{% endblock authorization %}
{% block main_calc %}
{% endblock main_calc %}
{% block login %}
{% endblock login %}
</html>
