{% extends 'base.html' %}
{% load static %}
{% block main_calc %}
    <body>
    <div class="container-wide">
        <div class="head space-between">
            <div class="head__logo"><img src="../../static/main_calc/media/image/logo.png" alt="logo" style="width: 63px;
            height: 65px; flex-shrink: 0;"></div>
            <p class="head__center">Конструктор НИР</p>
            {% if user.is_authenticated %}
            <p class="head__login"> {{ user.username }} | <a href="{% url "users:logout" %}"> Выйти</a></p>
            {% else %}
            <p class="head__login"><a href="{% url "users:login" %}"> Войти</a> | <a href="{% url "users:register" %}"> Регистрация </a></p>
            {% endif %}
        </div>
    </div>
    <main class="container">
        <header class="container__header">
            <p class="header-first">Калькулятор трудозатрат</p>
            <div class="header-second">Упрощение процесса расчета трудозатрат на проведение научных экспериментов,
                анализ данных и написание научных статей
            </div>
        </header>
        <div class="main">
            <section class="container__window-data"> <!--1 section, data-->
                <h1 class="window__head-first">Входные данные</h1>
                <h2 class="window__head-second">Заполните ячейки в соответствии с тематикой вашей
                    Научно-исследовательской работы</h2>
                <select class="window__select" name="nyr" id="nyr-select">
                    <option value="">--Научно-исследовательская работа--</option>
                    <option value="expert-analyse">Экспертно-аналитические работы по обзору имеющихся данных, подходов,
                        методик, выделение проблем и определение подходов к их решению
                    </option>
                    <option value="expert-dev-structure">Экспертная разработка структуры, идеологии, концепции методики,
                        программ и пр.
                    </option>
                    <option value="expert-dev-original">Экспертная разработка оригинальных учебных программ и курсов
                    </option>
                    <option value="expert-dev-educate">Экспертная разработка структуры в области образования,
                        определяющих перспективу развития системы образования
                    </option>
                    <option value="expert-dev-usable">Экспертная разработка структуры для широкомасштабного
                        использования (или внедрения)
                    </option>
                    <option value="publish-electric">Публикации в электронных или печатных специализированных СМИ (если
                        допускается условиями передачи прав на интеллектуальную собственность, приведенным в
                        госконтракте)
                    </option>
                    <option value="search-nyr">Информационный поиск по теме НИР</option>
                    <option value="search-gave">Обработка полученной информации</option>
                    <option value="computer-set">Компьютерный набор и оформление электронного документа (НТО)</option>
                    <option value="control-electric-doc">Проведение нормативного контроля электронного документа
                    </option>
                </select>
                <div class="window__coef">Коэффициенты</div>
                <div class="window__coef-parametrs">
                    <div class="coef">Глубина н-ой проработки
                        <select class="input-base" name="science" id="science">
                            <option value="1">Нет данных</option>
                            <option value="1.25">Библиографическая проработка темы, изучение аналогов по теме.
                                Проведение поиска и обработка информации с применением цифровых технологий, чрезвычайно
                                высокая: 1.25
                            </option>
                            <option value="1.15">Проведение натурных исследований, проведение поиска, изучение практик,
                                обобщение информации, проверка на моделях и натурных образцах, высокая: 1.15
                            </option>
                            <option value="1">Выполнение сложных теоретических расчетов без выполнения научной
                                проработки, проверка на большом объеме экспериментальных данных, средняя: 1
                            </option>
                            Научная проработка темы исследования по доступным источникам не выполнялась. Выполнение
                            сложных теоретических расчетов, проверка на большом объеме экспериментальных данных, средняя
                            <option value="0.9">Невысокая сложность расчетов, проверка на небольшом объеме
                                экспериментальных данных, низкая: 0.9
                            </option>
                            Невысокая сложность расчетов, проверка на небольшом объеме экспериментальных данных, низкая
                            <option value="0.7">Теоретические расчеты просты, эксперимент не проводился, очень низкая:
                                0.7
                            </option>
                            Теоретические расчеты просты, эксперимент не проводился, очень низкая
                        </select>
                    </div>

                    <div class="coef">Сложность
                        <select class="input-base" name="difficult" id="difficult">
                            <option value="1">Нет данных</option>
                            <option value="0.7">Менее сложный: 0.7</option>
                            <option value="1">Аналогичный по сложности: 1</option>
                            <option value=" 1.3">Более сложный: 1.3</option>
                            <option value="1.6">Существенно более сложный: 1.6</option>
                            <!--не влезает в окошко на 100% просмотре-->
                        </select>
                    </div>
                    <div class="coef">Масштабность вида работ
                        <select class="input-base" name="space" id="space">
                            <option value="1">Нет данных</option>
                            <option value="1">Одинаковый: 1</option>
                            <option value="1.2">Превышает, но не существенно: 1.2</option>
                            <option value="1.5">Существенно превышает: 1.5</option>
                        </select>
                    </div>
                    <div class="coef">Квал-ия специалистов
                        <select class="input-base" name="specialists" id="specialists">
                            <option value="1">Нет данных</option>
                            <option value="1">Работа, выполняемая без участия кандидатов и докторов наук: 1</option>
                            <option value="1.1">Работа, выполняемая с участием кандидатов наук, доцентов (не более 10%
                                от количества исполнителей): 1.1
                            </option>
                            <option value="1.3">Работа, выполняемая с участием кандидатов наук, доцентов (более 20% от
                                количества исполнителей): 1.3
                            </option>
                            <option value="1.5">Работа, выполняемая с участием докторов наук, профессоров (не более 10%
                                от количества исполнителей): 1.5
                            </option>
                            <option value="1.8">Работа, выполняемая с участием докторов наук, профессоров (более 10% от
                                количества исполнителей): 1.8
                            </option>
                        </select>
                    </div>
                    <div class="coef">Унификация
                        <select class="input-base" name="unification" id="unification">
                            <option value="1">Нет данных</option>
                            <option value="0.95">общенаучных методов исследования, 10%: 0.95</option>
                            <option value="1">специальных методов исследования, используемых терминов и определений,
                                20%: 1
                            </option>
                            <option value="1.3">ссылок на используемые нормативные и научные источники, 40%: 1.3
                            </option>
                            <option value="1.6">НТО, 60%: 1.6</option>
                            <option value="1.6">НТО, основанная на границах предметной области исследования, 80%: 1.6
                            </option>
                            <option value="1.6">семантическая и фразеологическая, 100%: 1.6</option>
                        </select>
                    </div>
                    <div class="coef">Новизна
                        <select class="input-base" name="new" id="new">
                            <option value="1">Нет данных</option>
                            <option value="1">Воспроизведение существующих решений: 1</option>
                            <!--не влезает в окошко на 100% просмотре-->
                            <option value="1.1">Обобщение существующих знаний: 1.1</option>
                            <!--не влезает в окошко на 100% просмотре-->
                            <option value="1.4">Модификация существующих решений: 1.4</option>
                            <!--не влезает в окошко на 100% просмотре-->
                            <option value="1.7">Разработка новых методов на основе известных теор-х метод-х положений:
                                1.7
                            </option> <!--не влезает в окошко на 100% просмотре-->
                            <option value="2">Модернизация существующих решений: 2</option>
                            <!--не влезает в окошко на 100% просмотре-->
                            <option value="2.2">Создание новых разработок с полным циклом НИОКР и эксп-х проверок: 2.2
                            </option> <!--не влезает в окошко на 100% просмотре-->
                            <option value="2.5">Создание разработок на основе новых принципов: 2.5</option>
                            <!--не влезает в окошко на 100% просмотре-->
                        </select>
                    </div>
                </div>
                <div class="window__coef">Основные параметры</div>
                <div class="window__entry-data">
                    <div class="data">Количество людей в штате
                        <input class="input-base" placeholder=" Человек" type="text" min="0"
                               onkeypress="return event.charCode >= 48 && event.charCode <= 57" minlength="2"
                               maxlength="5" id="people-input" required> <!--required?-->
                    </div>
                    <div class="data">Заработная плата одного сотрудника
                        <input class="input-base" placeholder=" &#8381; в месяц" type="text" min="0"
                               onkeypress="return event.charCode >= 48 && event.charCode <= 57" minlength="2"
                               maxlength="10" id="salary-input">
                    </div>
                    <div class="data">Время, которое потребуется на выполнение работы
                        <input class="input-base" placeholder=" Кол-во месяцев" type="text" min="0"
                               onkeypress="return event.charCode >= 48 && event.charCode <= 57" minlength="2"
                               maxlength="3" id="time-input">
                    </div>
                </div>
                <div class="window__other-data">
                    <div class="other">Прочие накладные расходы, вместо 0 можешь написать сумму расходов в рублях</div>
                    <input class="input-base" value="0" placeholder=" &#8381;" type="number" minlength="2"
                           maxlength="15" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           id="other-input"> <!--required?-->
                </div>

                <button class="submit" id="calc-button">
                    Расчет
                </button>
            </section>
            <section class="container__window-cost">   <!--2 section, complete cost-->
                <div class="window-cost__main"> <!--bem poehal-->
                    <h1 class="cost-head">Итоговая стоимость</h1>
                    <div class="cost-base__main">
                        <div class="cost__plate">
                            <p class="cost-base">Базовая стоимость работы</p>
                            <p class="cost-info" id='base-price'>Нет данных для подсчета</p> <!--COST PRICE 1-->
                        </div>
                        <div class="cost__plate">
                            <p class="cost-base">С учетом прочих накладных расходов</p>
                            <p class="cost-info" id="total-price">Нет данных для подсчета</p>  <!--COST PRICE 2-->
                        </div>
                    </div>
                </div>
            </section>
            <section class="container__window-faq">   <!--3 section, faq-->
                <div class="window-faq__head">
                    Справка
                </div>
                <div class="window-faq__body">
                    <p style="margin: 0; margin-bottom: -15px;">Расчетные формулы:</p>
                    <br>Формула для одноэтапного нир Q = P * Kтр , где
                    <br>Q - итоговая стоимость трудозатрат работы;
                    <br>P - основные параметры;
                    <br>Kтр - коэффициент (трудоемкости вида работ).
                    <br>Формула основных параметров: P = S * H * T, где
                    <br>S - заработная плата на 1 человека;
                    <br>H - количество людей работающих в проекте;
                    <br>T - время.
                    <p>Подробная информация о расчетах каждого вида научно-исследовательской работы:</p>
                </div>
                <div>
                    <div class="faq"> <!--1 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_1">
                            <label class="faq-title" for="faq_1">Экспертно-аналитические работы по обзору имеющихся
                                данных, подходов, методик, выделение проблем и определение подходов к их решению</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = К(сложности) * К(квалификации специалистов)</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq"> <!--2 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_2">
                            <label class="faq-title" for="faq_2">Экспертная разработка структуры, идеологии, концепции
                                методики, программ и пр.</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = К(сложности) * К(квалификации специалистов)</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq"> <!--3 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_3">
                            <label class="faq-title" for="faq_3">Экспертная разработка оригинальных учебных программ и
                                курсов</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = К(сложности) * К(новизны) * К(квалификации
                                    специалистов)</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq"> <!--4 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_4">
                            <label class="faq-title" for="faq_4">Экспертная разработка структуры в области образования,
                                определяющих перспективу развития системы образования</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = К(сложности) * К(новизны) * К(квалификации
                                    специалистов)</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq"> <!--5 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_5">
                            <label class="faq-title" for="faq_5">Экспертная разработка структуры для широкомасштабного
                                использования (или внедрения)</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = К(сложности) * К(новизны) * К(квалификации
                                    специалистов)</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq"> <!--6 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_6">
                            <label class="faq-title" for="faq_6">Публикации в электронных или печатных
                                специализированных СМИ (если допускается условиями передачи прав на интеллектуальную
                                собственность, приведенным в госконтракте)</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = К(сложности) * К(масштабности вида работ)</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq"> <!--7 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_7">
                            <label class="faq-title" for="faq_7">Информационный поиск по теме НИР</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = К(сложности) * К(новизны) * К(квалификации специалистов)
                                    * К(квалификации специалистов)</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq"> <!--8 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_8">
                            <label class="faq-title" for="faq_8">Обработка полученной информации</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = К(сложности) * К(новизны) * К(квалификации
                                    специалистов)</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq"> <!--9 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_9">
                            <label class="faq-title" for="faq_9">Компьютерный набор и оформление электронного документа
                                (НТО)</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = 1.1</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq"> <!--10 вид работы-->
                        <div class="faq-item">
                            <input class="faq-input" type="checkbox" name="faq" id="faq_10">
                            <label class="faq-title" for="faq_10">Проведение нормативного контроля электронного
                                документапозиция</label>
                            <div class="faq-text">
                                <p>K(трудоемкости вида работ) = 1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% comment %} <footer class="container__footer"> 
            <div class="footer__logo">
                <img src="../../static/main_calc/media/image/logo.png" alt="logotype">
            </div>
            <div class="footer__info">
                <div class="footer__info-first">
                    
                    <ul>О нас</ul>
                    <ul>Функции</ul>
                    <ul>Команда</ul>
                </div>
                <div class="footer__border-line"></div>
                <div class="footer__info-second">
                    <ul>Privacy Policy</ul>
                    <ul>Terms of Use</ul>
                </div>
            </div>
        </footer> {% endcomment %}
    </main>

    <script src="{% static 'app.js' %}"></script>
    </body>
{% endblock %}