<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор НИР</title>
    <link rel="stylesheet" href="../../static/users/css/auth_code.css">
</head>
    <body>
    <div class="logo"><img src="../../static/users/media/image/Logo.png" alt=""></div>
    <div class="container">
        <div class="Auto">
            Подтвердите почту
        </div>

        <div class="container2">
            <input class="oneNumber" type="text" min="0"
                   onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="1" required>
            <input class="oneNumber" type="text" min="0"
                   onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="1" required>
            <input class="oneNumber" type="text" min="0"
                   onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="1" required>
            <input class="oneNumber" type="text" min="0"
                   onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="1" required>
            <input class="oneNumber" type="text" min="0"
                   onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="1" required>
            <input class="oneNumber" type="text" min="0"
                   onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="1" required>
        </div>
        <button class="Entry">
            Подтвердить
        </button>
    </div>
    <div class="bottom">
        <a class="support" href="">Обратиться в поддержку</a>
    </div>
    </body>
</html>